* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
}

:root {
  --primary-color: #0a1828;
  --secondary-color: #178582;
  --tertiary-color: #bfa181;
  --sub-color: #252e36e1;
}

body.dark-mode {
  --primary-color: #f4f6f9; /* Light mode primary color (light background) */
  --secondary-color: #009688; /* Light mode secondary color (teal) */
  --tertiary-color: #3e3e3e;
  --sub-color: #f4f6f9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--tertiary-color);
}
body {
  background-color: var(--primary-color);
  padding: 0;
  margin: 0;
  padding-bottom: 4rem;
}
.hero-section {
  height: 100vh;
  max-width: 100%;
  margin-top: 1.5rem;
  position: relative;
}
.hero-container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-container h1 {
  font-weight: 900;
  font-size: 35px;
}
.text-animate {
  position: relative;
}
.text-animate h4 {
  color: transparent;
  font-weight: 700;
  font-size: 30px;
  -webkit-text-stroke: 0.08rem #178582;
  background-repeat: no-repeat;
  animation-delay: 0.5s;
  animation: home-bg-text 4s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(#178582, #178582);
  background-position: 0 0;
  position: relative;
  text-align: left;
}
@keyframes home-bg-text {
  0%,
  10%,
  100% {
    background-position: -40rem 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}

.text-animate h4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 0;
  height: 100%;
  border-right: 2px solid #178582;
  z-index: -1;
  animation: home-cursor-text 4s linear infinite;
  animation-delay: 0.3s;
}
@keyframes home-cursor-text {
  0%,
  10%,
  100% {
    width: 0;
  }
  65%,
  85%,
  86% {
    width: 58%;
  }
}
.hero-container p {
  word-spacing: 3px;
  margin-bottom: 1.5rem;
  font-size: 18px;
}
.btn-1 {
  background-color: var(--secondary-color);
  border: none;
  color: var(--primary-color);
  border-radius: 5px;
  padding: 8px 25px;
  margin-right: 0.8rem;
  margin-bottom: 1rem;
  position: relative;
  transition: 0.4s;
}
.btn-2 {
  background-color: transparent;
  border: 2px solid #178582;
  color: #178582;
  border-radius: 5px;
  padding: 8px 25px;
  margin-right: 0.8rem;
  margin-bottom: 1rem;
  position: relative;
}
.btn-g::before {
  content: "";
  position: absolute;
  transition: 0.4s;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #178582;
  z-index: -1;
}
.btn-2:hover::before {
  width: 100%;
}
.btn-2:hover {
  color: #0a1828;
}
.btn-1:hover {
  background-color: transparent;
  border: 2px solid #178582;
  color: #178582;
}
.btn-1:hover::before {
  width: 100%;
  background-color: #0a1828;
}
.btn-action {
  position: relative;
}
.hero-icon-wrapper {
  display: flex;
  position: relative;
}
.icon-inner-wrapper {
  margin-right: 1rem;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #178582;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.icon-inner-wrapper i {
  color: #178582;
  font-size: 18px;
}

.icon-inner-wrapper::before {
  content: "";
  position: absolute;
  transition: 0.6s;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #178582;
  z-index: -1;
  border-radius: 50%;
}
.icon-inner-wrapper:hover::before {
  width: 100%;
}
.icon-inner-wrapper:hover i {
  color: #0a1828;
}
/* ------------header---styles--------------------------- */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 10%;
  right: 4%;
  background-color: var(--sub-color);
  padding: 3rem 1rem;
  border-radius: 8px;
  z-index: 999;
}
header i {
  color: var(--secondary-color);
  font-size: 30px;
}
.menu-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-bottom: 2rem;
  z-index: 2;
}
.active-menu {
  background-color: var(--primary-color);
}

/* ---------------------teck stack session------------------------ */
.tech-stack-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.tech-item {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  background-color: transparent;
  border-radius: 50%;
  color: var(--tertiary-color);
}

.tech-connector {
  width: 7rem;
  text-align: center;
  border-radius: 2rem;
  padding: 12px;
  background: var(--secondary-color);
}
.tech-connector span {
  color: #0a1828;
  font-weight: 600;
}

/* --------------about me section--------------------------- */

.about-me-sec {
  padding-bottom: 2rem;
}
.heading-wrapper h1 {
  font-weight: 900;
  font-size: 35px;
}
.heading-wrapper span {
  color: var(--secondary-color);
}
.about-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about-img img {
  border-radius: 50%;
  border: 2px solid #178582;
  width: 90%;
  height: 90%;
}
.animate-img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  border-left: 2px solid #178582;
  border-right: 2px solid #178582;
  border-radius: 50%;
  animation: aboutAnimate 6s linear infinite;
}

@keyframes aboutAnimate {
  100% {
    transform: rotate(360deg);
  }
}
.about-me-sec p {
  padding: 3rem 0 0 0;
  text-align: left;
  font-size: 18px;
  word-spacing: 3px;
}

/* --------------------Experience section----------------------------- */
.stack-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  background-color: var(--sub-color);
  border-radius: 0.8rem;
  padding: 3rem 0rem;
  flex-direction: column;
}
.stack-list:hover {
  background-color: var(--primary-color);
  border: 2px solid #178582;
}
.exp-row {
  width: 50%;
}
.stack-list p {
  font-size: 15px;
  /* color: red; */
  color: #a17b54;
  /* margin-top: 0 !important;
  padding: 0 !important; */
}
.ex-para {
}
.stack-list i {
  color: var(--secondary-color);
}

/* ---------my-portfolio----------------------------- */

.portfolio-container img {
  max-width: 100%;
  height: auto;
  border-radius: 0.9rem;
  transition: transform 0.3s ease;
}
.portfolio-container img:hover {
  transform: scale(1.1);
  overflow: hidden;
}
.portfolio-img {
  overflow: hidden;
  border-radius: 0.9rem;
}
.portfolio-container {
  background-color: var(--primary-color);
  padding: 1.3rem;
  border-radius: 1.2rem;
  border: 1px solid #178582;
  margin: 2.5rem;
}
.portfolio-container:hover {
  box-shadow: 0 0 22px 1px #17858150;
  border: none;
}
.portfolio-container h5 {
  margin: 0.8rem 0rem;
}
.portfolio-container p {
  margin: 1rem 0rem 2rem 0rem;
  color: #a17b54;
  font-weight: bold;
  text-align: left;
  word-spacing: 2px;
  padding: 0 !important;
}
.btn-portfolio i {
  font-size: 25px;
}
.btn-portfolio .btn-2:hover {
  background-color: #178582;
}
.portfolio-container-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------contact me-------------------- */
.contact-me p {
  word-spacing: 2px;
  font-size: 16px;
  text-align: center;
}

.contact-box {
  background-color: var(--primary-color);
  padding: 0.8rem 1.3rem;
  border-radius: 1rem;
  border: 1px solid #178582;
  margin-top: 1.5rem;
}
.contact-box:hover {
  box-shadow: 0 0 22px 1px #17858150;
  border: none;
}
.contact-box i {
  color: var(--secondary-color);
  font-size: 35px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.contact-box .btn-2:hover {
  background-color: var(--secondary-color);
}
/* --------------------footer section--------------------------------- */
footer {
  margin-bottom: 1.4rem;
}
footer hr {
  width: 100%;
  border: 2px solid #a17b54;
  border-radius: 8px;
}

/* --------------------animation-------------- */
.hero-para {
  position: relative;
}
.btn-about {
  position: relative;
}
.heading-wrapper {
  position: relative;
}
.about-para {
  position: relative;
}
.stack-list {
  position: relative;
}
.portfolio-container {
  position: relative;
}
.contact-box {
  position: relative;
}
.contact-para {
  position: relative;
}
.animation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--primary-color);
  z-index: 998;
  opacity: 0;
}
.name {
  position: relative;
}
.name .animation,
.hero-para .animation,
.text-animate .animation,
.btn-action .animation,
.hero-icon-wrapper .animation,
.heading-wrapper .animation,
.about-para .animation,
.btn-about .animation,
header .animation,
.stack-list .animation,
.about-img .animation,
.portfolio-container .animation,
.contact-box .animation,
.contact-para .animation {
  /* animation: showRight 1s ease forwards;
  animation-delay: calc(0.3s * var(--i)); */
}
@keyframes showRight {
  100% {
    width: 0;
  }
}
@media only screen and (max-width: 800px) {
  .hero-section {
    height: auto;
    padding-top: 5rem;
  }
  .tech-stack-container {
    margin-top: 2rem;
    max-width: 100%;
  }
  .hero-container h1,
  h3,
  h4,
  p {
    text-align: center;
    margin-bottom: 0.8rem;
  }
  .text-animate h4 {
    text-align: center;
  }
  .hero-container {
    width: 100%;
    /* padding: 0 1rem; */
  }
  .hero-icon-wrapper {
    justify-content: center;
    align-items: center;
  }
  header {
    padding: 0;
    bottom: 0;
    left: 50%;
    padding: 1rem;
    width: 90%;
    transform: translateX(-50%);
    flex-direction: row;
    border-radius: 1rem;
    justify-content: space-around;
    align-items: center;
  }
  .menu-icon-wrapper {
    margin: 0rem auto;
    height: 50px;
    width: 50px;
  }
  header i {
    width: 25px;
  }
  .btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech-stack-container {
    margin-bottom: 20rem;
  }
  .about-me h1 {
    margin-top: 5rem;
  }
  .about-me-sec p {
    padding: 3rem 0.7rem 1rem 0.7rem;
  }
  .btn-about {
    padding: 0rem 0.7rem;
  }
  .text-animate h4::before {
    left: 8%;
  }
  @keyframes home-cursor-text {
    0%,
    10%,
    100% {
      width: 0;
    }
    65%,
    85%,
    86% {
      width: 85%;
    }
  }
  /* -------------experinece--section------------ */
  .exp-row {
    width: 100%;
  }
  .stack-list p {
    text-align: left;
  }
}
